.shop-items {
  display: flex;
  justify-content: center;
  font-family: "IM Fell French Canon SC", serif;
}

.shop-item div {
  height: 350px;
  width: 275px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.welcome {
  font-family: "Mrs Saint Delafield", cursive;
  color: aliceblue;
  font-size: xx-large;
}

.list {
  font-family: "Mrs Saint Delafield", serif;
  font-size: 75px;
  color: black;
  font-weight: 100;
}

.outfit {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text {
  font-family: "Great Vibes", serif;
  font-size: x-large;
  color: white;
  font-weight: 300;
}
.bags {
  width: 25px;
  height: 25px;
}

.selection {
  display: flex;
  font-size: 65px;
  justify-content: space-between;
  font-family: "Mrs Saint Delafield", cursive;
}

.selection a {
  color: pink;
}

.container {
  font-family: "Great Vibes", cursive;
  color: palevioletred;
}

.form-group {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: pink;
}

.box-container {
  font-family: "Great Vibes", cursive;
  color: palevioletred;
}

.edit-text {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  text-align: center;
  color: hotpink;
}

.pay {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  color: hotpink;
}

.money {
  font-family: "Great Vibes", cursive;
  font-size: 20px;
}

.tops {
  display: flex;
  justify-content: space-between;
}

.tops div {
  min-height: 300px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}

.bottoms {
  display: flex;
  justify-content: space-between;
}
.bottoms div {
  min-height: 300px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}

.dresses {
  display: flex;
  justify-content: space-between;
}
.dresses div {
  min-height: 300px;
  min-width: 200px;
  background-position: center;
  background-size: cover;
}

.photo {
  display: flex;
  justify-content: center;
}

.trademark {
  font-family: "Times New Roman", Times, serif;
}
